

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
}

.container{
    width: 850px;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px;
}

.hangman-container img{
    max-width: 270px;
}

.hangman-container h1{
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.letters{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.letters .letter{
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

.letters .letter.guessed{
    border-color: transparent;
    margin: -20px 0 35px;
}

.game-box h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box h3 b{
    font-weight: 700;
}

.game-box .keyboard{
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

:where(.game-modal, .keyboard) button{
    color: white;
    background-color: rgb(55, 107, 210);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
}

.keyboard button{
    padding: 5px;
    width: calc(100%/9 - 5px);
}

.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover{
    background: rgb(52, 144, 219);
}

.game-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0 10px;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.4s ease;
}

.game-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.game-modal .content{
    background-color: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal img{
    max-width: 150px;
}

.game-modal h3{
    font-size: 1.65rem;
}

.game-modal p{
    font-size: 1.20rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b{
    color: rgb(55, 107, 210);
    font-weight: 600;
}

.game-modal button{
    padding: 12px 23px;
}

@media (max-width: 770px){
    .container{
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
    }
    .hangman-container img{
        max-width: 200px;
    }
    .hangman-container h1{
        display: none;
    }
}