*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

#question{
    font-size: 25px;
}

body {
    padding: 0;
    margin: 0;
    align-items: center;
}

.container {
    text-align: center;
    margin-top: 5%;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 4px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.hide{
    display: none;
}